<% layout('layout/boilerplate') %>

<%- include('../partials/navbar') %>
    <div class="row">
        <% for(let i of products){ %>
            <div class="col-lg-4 mt-3">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="<%= i.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title"><%= i.name %></h2>
                      <h5 class="card-title"><%= i.price %></h5>
                      <p class="card-text"><%= i.description %></p>
                      <a href="/products/<%= i._id %> " class="btn btn-info">View Product</a>
                      <a href="/products/<%= i._id %>/edit"></a>
                      <form class="d-inline-block" action="/products/<%= i._id %>?_method=Delete" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>
